.App{text-align: center;}

.movieapp{

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movieposter{
  border-radius: 20px;
  height: 300px;
}


.movietitle{
  font-size: 2rem;
  font-weight:bold;


}